.close-new-record {
  height: 42px;
  border: none;
  color: white;
  background: rgb(53, 108, 211);
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.2s;
}
.close-new-record:hover {
  background: rgb(35, 94, 202);
}
