:root {
  --selector-border-color: rgb(175, 175, 175);
}

input[type="checkbox"] {
  width: 26px;
  height: 26px;
  margin-right: 12px;
  flex-shrink: 0;
  cursor: pointer;
}
.settings-panel label {
  display: flex;
}
.settings-panel h3 {
  color: rgb(61, 61, 61);
  font-size: 18px;
}
.settings-panel label p {
  margin-top: 4px;
  font-size: 14px;
}

.selector {
  display: flex;
  margin-bottom: 14px;
}
.selector > div {
  flex-grow: 1;
  text-align: center;
  border: 1px solid var(--selector-border-color);
  padding: 6px 0px;
  user-select: none;
  transition: all 0.3s;
  background: rgb(231, 231, 231);
  cursor: pointer;
  border-right-color: #ffffff00;
}
.selector p {
  font-size: 14px;
}

.selector > div:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.selector > div:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-right-color: var(--selector-border-color);
}
.selector > div:hover {
  background-color: rgb(211, 223, 255);
  border-color: rgb(0, 45, 168);
}
.selector > div.selected {
  color: white !important;
  background-color: rgb(52, 118, 218) !important;
  border-color: rgb(0, 45, 168) !important;
  cursor: default;
}
.selector > div.selected h3 {
  color: white !important;
}
