:root {
  --unswept-border-width: 3.5px;
}

* {
  margin: 0px;
}
body {
  background: rgb(40, 41, 56);
  overscroll-behavior: contain;
}

.App {
  display: grid;
  place-items: center;
  height: 100vh;
}

.controls {
  height: 40px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: white;
}
.controls > span {
  width: 143px;
}
.controls > div {
  font-size: 1.7rem;
  background: #ffffff44;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #ffffff55;
  cursor: default;
}
.controls > div:hover {
  background: #ffffff66;
}
.board {
  display: flex;
  flex-direction: column;
}

.board > div {
  display: flex;
}

.tile {
  box-sizing: border-box;
  cursor: default !important;
  user-select: none !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 800;
  height: 4.5vh;
  width: 4.5vh;
  max-width: 42px;
  max-height: 42px;
  min-width: 34px;
  min-height: 34px;
  background: rgb(29, 145, 180);
  border-top: var(--unswept-border-width) solid rgba(255, 255, 255, 0.4);
  border-left: var(--unswept-border-width) solid rgb(0, 0, 0, 0.2);
  border-right: var(--unswept-border-width) solid rgb(255, 255, 255, 0.2);
  border-bottom: var(--unswept-border-width) solid rgb(0, 0, 0, 0.4);
}

.tile:hover:not(.swept) {
  background: rgb(94, 198, 230);
}

.postGame .tile {
  pointer-events: none;
}

.tile.mine {
  font-weight: normal;
}

.tile.swept {
  border-color: rgb(184, 184, 184);
  background: rgb(210, 230, 230);
  border-width: 1px;
}

.tile.mine.swept {
  background: rgb(255, 146, 146);
  border-top: var(--unswept-border-width) solid rgba(255, 255, 255, 0.4);
  border-left: var(--unswept-border-width) solid rgb(0, 0, 0, 0.2);
  border-right: var(--unswept-border-width) solid rgb(255, 255, 255, 0.2);
  border-bottom: var(--unswept-border-width) solid rgb(0, 0, 0, 0.4);
}

.tile.swept.around-1 {
  color: blue;
}
.tile.swept.around-2 {
  color: green;
}
.tile.swept.around-3 {
  color: red;
}
.tile.swept.around-4 {
  color: darkblue;
}
.tile.swept.around-5 {
  color: darkred;
}
.tile.swept.around-6 {
  color: cadetblue;
}
.tile.swept.around-7 {
  color: darkslateblue;
}
.tile.swept.around-8 {
  color: black;
}
